h1 {
    padding: 3rem 0;
    text-align: center;
    letter-spacing: 1px;
}
h2 {
    padding: 2rem 0;
}
header {
    padding: 3rem 0;
    text-align: center;
}
.Button1 {


}

.container {
    text-align: center;
    width:100%;
    padding: 3rem !important;
    margin: 3rem 3rem ;
    background-color: white;
    box-shadow: -15px 15px lightslategray;

}
.containerText {
    text-align: center;
    width:100%;
    padding-bottom: 3rem;
    margin: 3rem 3rem ;
    background-color: white;
    box-shadow: -15px 15px lightslategray;
}
.footer {

    background-color: white;
    text-align: center;
}
/*.shadow{*/

/*   	box-shadow: -5px 10px 0px 0px rgba(97, 99, 93, 0.83);*/
/*}*/